<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboPath.PlannerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoboPath.PlannerApp.Properties.Settings>
            <setting name="WorkspaceWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="WorkspaceHeight" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="GeometryEditToolVertexRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DrawingVertexRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RobotBodyCircleMinRadius" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RobotBodyCircleRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RobotBodyCircleMaxRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DrawingGoalVertexRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DrawingStartVertexRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonMinRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonMaxRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonEdgeCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonMinEdgeCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RobotBodyCyclicPolygonMaxEdgeCount" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="IsGeometryVerticesVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CircleEdgeCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="IsObstacleDecompositionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnforceConvexRobotBody" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RobotPreviewCanvasWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RobotPreviewCanvasHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DrawingShortestPathVertexRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AlgorithmApplyDelaunayPathRefinement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlgorithmVoronoiSampleDistance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DrawingSpecialVertexRadius" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AlgorithmVisibilityGraphIncludeBoundary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlgorithmVisibilityGraphStopOnGoalVertexDiscovery"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlgorithmTriangulationUseSleeveOptimization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlgorithmGridSamplingDistance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AlgorithmPRMSampleCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AlgorithmPRMNeighbourCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AlgorithmRRTNeighbourCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AlgorithmRRTStepSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AlgorithmRRTGoalBias" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AlgorithmRRTStopAtGoal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawingShowConfigurationAtVertices" serializeAs="String">
                <value>True</value>
            </setting>
        </RoboPath.PlannerApp.Properties.Settings>
    </userSettings>
</configuration>