<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target xsi:type="Trace" name="DebugTrace" layout="[${longdate}, ${level:uppercase=true}, ${logger}]> ${message}"/>
    <target xsi:type="MessageBox" name="ErrorBox" layout="[${longdate}, ${level:uppercase=true}, ${logger}]> ${message}" caption="Error"/>
    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="DebugTrace" />
    <logger name="*" minlevel="Error" writeTo="ErrorBox" />
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>
</nlog>
